.login-form {
  display: flex;
  justify-content: center;
}

.login-form form {
  padding: 1.5rem;
  border-radius: 12px;
  background: #fff;
  margin-top: 1.5rem;
}

.login-form-group {
  margin-bottom: 1rem;
}

.login-form-group label {
  display: block;
  margin-bottom: 0.5rem;
}

.login-form-group input {
  padding: 0.5rem 0.75rem;
  border-radius: 8px;
  border: 1px solid #1479ff;
  color: #1479ff;
}

.login-form-group button {
  padding: 0.5rem 1rem;
  text-align: center;
  font-size: 1rem;
  border-radius: 8px;
  background: #1479ff;
  color: white;
}

.login-form-submit {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
