.loginForm {
  display: flex;
  justify-content: center;

  form {
    width: 540px;
    padding: 1.5rem;
    border-radius: 12px;
    background: #fff;
    margin-top: 1.5rem;

    input {
      width: 100%;
    }
  }
}

.formGroup {
  margin-top: 1rem;
}

.formButton {
  padding: 0.5rem 1rem;
  text-align: center;
  font-size: 1rem;
  border-radius: 8px;
  background: #1479ff;
  color: white;
}

.formSubmit {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
