@use '~styles/variables' as *;

body {
  background-color: $color-white;
  font-family: 'Helvetica-Light', Helvetica, Arial, sans-serif;
}

button,
input,
select,
textarea,
optgroup {
  line-height: initial;
}

.app {
  height: 100vh;
  background: $color-cyan-light;

  hr {
    margin-bottom: 0;
    margin-top: 0;
    opacity: 0.15;
  }
}
