@use 'styles/variables/colors' as *;

.root {
  background: $dark-accent-2;
  min-height: inherit;
}

.header {
  padding: 1.5rem 1rem;
}

.headerInner {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.title {
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
  color: #fff;
}

.actions {
  display: flex;

  &Create {
    background: $green;
    border-color: $green;
    color: #fff;
  }
}
