@use 'styles/variables/colors' as *;

.root {
  width: 100%;
  height: 100%;
  background: $dark-accent-2;
  position: relative;
}

.floating {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);

  &Button {
    width: 64px;
    height: 64px;
    padding-bottom: 0.3rem;
    background: $green;
    color: $white;
    border-radius: 100%;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 500;
  }
}
