.input-group {
  margin-bottom: 1rem;
}

.input-group-label {
  display: block;
  margin-bottom: 0.5rem;
}

.input-group-input {
  padding: 0.5rem 0.75rem;
  border-radius: 8px;
  border: 1px solid #1479ff;
  color: #1479ff;
}
