.inputGroup {
  margin-bottom: 1rem;
}

.inputGroupLabel {
  display: block;
  margin-bottom: 0.5rem;
}

.inputGroupInput {
  padding: 0.5rem 0.75rem;
  border-radius: 8px;
  border: 1px solid #1479ff;
  color: #1479ff;
}
