$black: #000;
$white: #fff;
$dark-white: #eee;
$cyan-light: #f3f8ff;

$purple: #9c6bd3;
$purple-dark: #8513b9;

$green: #51c18f;

$red: #ff6161;

$grey: #d2d5d8;
$grey-2: #8d8d90;
$secondary: #a2a2a2;

$dark-accent: #3e4b58;
$dark-accent-2: #333f4a;
