@use 'styles/variables/colors' as *;

.root {
  height: 100%;
  min-height: 200px;
  padding: 2rem;
  background: $dark-accent;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 36px;
}

.title {
  font-size: 2rem;
  font-weight: 500;
}

.content {
  margin-top: 1.5rem;
}
