.answer {
  display: flex;
  align-items: center;
  width: 100%;
  transition: all 0.2s;
}

.input {
  padding-right: 3.5rem;
}

.answerContent {
  width: 100%;
  position: relative;

  &Gutter {
    margin-left: 1rem;
  }
}

.actions {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  height: 100%;
}

.action {
  opacity: 0.2;
  transition: 0.2s ease-in;

  & + .action {
    margin-left: 1rem;
  }

  &:hover {
    opacity: 1;
  }

  &Undo {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 0.9rem;
    letter-spacing: 0.5px;
    display: flex;
    align-items: center;

    span {
      margin-left: 0.75rem;
    }
  }
}
